<table class="login-table">
  <tr>
    <td>Login CRM-uv</td>
    <td>
      <a routerLink="/">Cancel</a>
    </td>
  </tr>
  <tr>
    <td>Username</td>
    <td>
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="tuUsername"
        required
      />
    </td>
  </tr>
  <tr>
    <td>Password</td>
    <td>
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="••••••••"
        required
      />
    </td>
  </tr>
  
  <tr>
    <td></td>
    <td>
      <button (click)="callLogin()">Log in</button>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      New? <a routerLink="/newuser">Create account</a>
    </td>
  </tr>
</table>